<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Autor</th>
      <th scope="col">Ano</th>
      <th scope="col">Gênero</th>
      <th scope="col">Favoritos</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
{% for livro in livros %}
  <tr>
    <td>
      {{ livro.id }} 
    </td>  
    <td>
      {{ livro.titulo }} 
    </td>  
    <td>
      {{ livro.autor }} 
    </td>  
    <td>
      {{ livro.ano }} 
    </td>  
    <td>
      {{ livro.genero }} 
    </td>  
    <td>
      {{ livro.favoritos.count }} 
    </td>  
    <td>
      Ações
    </td>  
  </tr>
{% endfor %}
  </tbody>
</table>
