<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col"><a href="{% querystring ordenar='id' %}" >#</a></th>
        <th scope="col"><a href="{% querystring ordenar='username' %}" >Username<a></th>
        <th scope="col"><a href="{% querystring ordenar='first_name' %}" >Nome</a></th>
        <th scope="col"><a href="{% querystring ordenar='last_name' %}" >Sobrenome</a></th>
        <th scope="col"><a href="{% querystring ordenar='-nascimento' %}" >Idade</a></th>
        <th scope="col"><a href="{% querystring ordenar='livro' %}" >Favoritos</a></th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
  {% for usuario in usuarios %}
    <tr>
      <td>
        {{ usuario.id }} 
      </td>  
      <td>
        {{ usuario.username }} 
      </td>  
      <td>
        {{ usuario.first_name }} 
      </td>  
      <td>
        {{ usuario.last_name }} 
      </td>  
      <td>
        {{ usuario.idade }} 
      </td>  
      <td>
        {{ usuario.livro_set.count }} 
      </td>  
      <td class="text-nowrap">
        <a href="{% url 'dashboard:ler-usuario' usuario.id %}" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
        <a href="{% url 'dashboard:editar-usuario' usuario.id %}" class="btn btn-secondary"><i class="bi bi-pencil-fill"></i></a>
        <!-- não mostra o remover caso seja o próprio usuário logado -->
        {% if user.id == usuario.id %}
        <button class="btn btn-danger" disabled><i class="bi bi-trash-fill"></i></button>
        {% else %}
        <a href="{% url 'dashboard:remover-usuario' usuario.id %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
        {% endif %}
      </td>  
    </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
  <!-- Navegação da paginação -->
{% if livros.paginator.num_pages > 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item {{  livros.has_previous|yesno:',disabled,disabled'  }}">
        <a class="page-link" href="{% if livros.has_previous %}{% querystring p=livros.previous_page_number %}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for page in livros.paginator.page_range %}
      <li class="page-item"><a class="page-link {% if livros.number == page %}active{% endif %}" href="{% querystring p=page %}">{{page}}</a></li>
      {% endfor %}
      <li class="page-item {{  livros.has_next|yesno:',disabled,disabled'  }}">
        <a class="page-link" href="{% if livros.has_next %}{% querystring p=livros.next_page_number %}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
