{% extends "base.html" %}
{% load static %}
{% block title %}Início{% endblock %}
{% block content %}
{% if not request.user.is_authenticated %}
<section class="py-5 text-center" style="background-image: linear-gradient(white, #afeeee);">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Biblioteca Django</h1>
        <p class="lead text-body-secondary">Biblioteca de exemplo da disciplina de Programação de Sistemas para Internet - IFRN/SPP</p>
        <p>
          <a href="{% url 'login' %}" class="btn btn-primary my-2">Acesse o sistema</a>
          <a href="{% url 'cadastro' %}" class="btn btn-secondary my-2">Cadastre-se!</a>
        </p>
      </div>
    </div>
</section>
{% else %}
<div class="container">
<h1 class="display-1"> Livros </h1>
</div>
{% endif %}
<section class="album py-5 bg-body-tertiary">
  {% include "biblioteca/partials/_galeria_livros.html" %}
</section>
{% endblock %}
