{% load static %}
<div class="col">
  <div class="card shadow-sm" style="width: 18rem;">
    {% if livro.capa %}
    <img src="{{ livro.capa.url }}" class="card-img-top border border-2" alt="capa">
    {% else %}
    <img src="{% static 'biblioteca/placeholder/capa.png' %}" class="card-img-top w-75 mx-auto border border-2" alt="capa">
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ livro.titulo }}</h5>
    <div class="card-text">
      <p>{{ livro.autor }}</p>
      <p>{{ livro.genero }}</p>
    </div>
    <div class="d-flex justify-content-center gap-2 mt-auto">
      <a href="#" class="btn btn-primary" role="button">Detalhar</a>
      {% if request.user.is_authenticated %}
      <a href="#" class="btn btn-outline-danger" role="button">
      {% else %}
      <a class="btn btn-outline-danger disabled" role="button" aria-disabled="true">
      {% endif %}
        <span>{{ livro.favoritos }}</span>
        <i class="bi bi-heart{{ livro.favoritado|yesno:'-fill,' }} ms-1"></i>
      </a>
    </div>
  </div>
</div>
</div>
