{% load static %}
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% for livro in livros %}
{% include 'biblioteca/partials/_card_livro.html' %}
{% empty %}
<h1>Não há livros cadastrados!</h1>
{% endfor %}
  </div>
  <!-- Navegação da paginação -->
{% if livros.paginator.num_pages > 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item {{  livros.has_previous|yesno:',disabled,disabled'  }}">
        <a class="page-link" href="{% if livros.has_previous %}{% querystring p=livros.previous_page_number %}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for page in livros.paginator.page_range %}
      <li class="page-item"><a class="page-link {% if livros.number == page %}active{% endif %}" href="{% querystring p=page %}">{{page}}</a></li>
      {% endfor %}
      <li class="page-item {{  livros.has_next|yesno:',disabled,disabled'  }}">
        <a class="page-link" href="{% if livros.has_next %}{% querystring p=livros.next_page_number %}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
</div>
