{% extends "base.html" %}
{% load static %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="container-fluid h-100">
  <div class="row">
    <aside class="col col-md-2 bg-body-secondary position-sticky top-0">  <!-- sidebar -->
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="{% url 'dashboard:index' %}" class="nav-link{% if request.resolver_match.url_name == 'index' %} active{% else %} link-body-emphasis{% endif %}">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="{% url 'dashboard:livros' %}" class="nav-link{% if request.resolver_match.url_name == 'livros' %} active{% else %} link-body-emphasis{% endif %}">
            <i class="bi bi-book me-2"></i>
            Livros
          </a>
        </li>
        <li>
          <a href="{% url 'dashboard:usuarios' %}" class="nav-link{% if request.resolver_match.url_name == 'usuarios' %} active{% else %} link-body-emphasis{% endif %}">
            <i class="bi bi-person-circle me-2"></i>
            Usuários
          </a>
        </li>
      </ul>
    </aside>
    <div class="col col-md-10">
      <div class="container-fluid p-4">
        <div class="container d-flex">
          {% block page-title %}
          <h3 class="display-3 me-auto"> Administração </h3>
          {% endblock %}
        </div>
        {% block dashboard-content %}
           
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
