{% extends "dashboard/base.html" %}

{% block title %}Dashboard{% endblock %}
{% block page-title %}
<h3 class="display-3 me-auto"> Dashboard </h3>
{% endblock %}

{% block dashboard-content %}
<section class="album py-5 bg-body-tertiary">
  <div class="row">
    <div class="col-md-4">
      <a class="text-decoration-none" style="color: inherit;" href="{% url 'dashboard:usuarios' %}">
        <div class="card text-bg-primary mb-3">
          <div class="card-body">

            <h5 class="card-title">Usuários</h5>
            <p class="card-text">Total: {{ num_usuarios }}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="text-decoration-none" style="color: inherit;" href="{% url 'dashboard:livros' %}">
        <div class="card text-bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Livros</h5>
            <p class="card-text">Total: {{ num_livros }}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <div class="card text-bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Favoritos</h5>
            <p class="card-text">Total: {{ num_favoritos }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
